# Mac OS #
.DS_Store

# Java #
*.class



*.jar
*.war
*.ear

/target/
*.jsp~
/QuickAndDirtyMapEditor/sources/QuickAndDirtyMapEditor/build/
/QuickAndDirtyMapEditor/sources/QuickAndDirtyMapEditor/dist/
/QuickAndDirtyMapEditor/sources/QuickAndDirtyMapEditor/nbproject/private/